<div class="panel-heading">
  <h4 class="btn-group pull-right" dropdown keyboard-nav>
    <button class="btn btn-ghost btn-panel btn-dark btn-circle btn-lg dropdown-toggle"
            ng-hide="menuItems == null || menuItems.length <= 0"
            dropdown-toggle>
      <span class="glyphicon glyphicon-option-vertical"></span>
    </button>
    <ul class="dropdown-menu">
      <li role="menuitem" ng-repeat="item in menuItems" ng-click="item.action()"><a>{{item.label}}</a></li>
    </ul>
  </h4>

  <h2 ng-switch="title" class="text-capitalize">
    <span ng-switch-when="Movies" class="glyphicon glyphicon-film"></span>
    <span ng-switch-when="Actors" class="glyphicon glyphicon-user"></span>
    <span ng-switch-when="Directors" class="glyphicon glyphicon-bullhorn"></span>
    <span ng-switch-default></span>
    {{title}}
  </h2>
</div>