<h1>Movies Index View</h1>

<div class="row">
  <div class="col-md-12">
    <section class="panel panel-dark text-left">

      <div class="panel-heading" panel-header title="{{panelTitle}}" menu-items="menuItems"></div>

      <div class="list-group">
        <li class="list-group-item text-center">
          <h4><em>No movies to display</em></h4>
        </li>
      </div>

    </section>
  </div>
</div>