<div class="container">
  <!--<h1>Home#index</h1>-->
  <!--<p>Find me in app/views/home/index.html.erb</p>-->
  <!--<div class="panel panel-dark">-->
    <!--<div class="panel-heading">-->
      <!--<h3>Heading</h3>-->
      <!--<button class="btn btn-panel btn-dark btn-circle btn-lg">-->
        <!--<span class="glyphicon glyphicon-option-vertical"></span>-->
      <!--</button>-->
      <!--<a class="btn btn-ghost btn-white btn-lg">Push Me!</a>-->
    <!--</div>-->
    <!--<div class="panel-body">-->
      <!--<div class="bs-callout bs-callout-success">-->
        <!--<h3>Hello, I'm a callout!</h3>-->

        <!--<a class="btn btn-ghost btn-success">Push Me!</a>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->

  <div class="container">
    <h1 class="">Header</h1>

    <div class="alert alert-info alert-dismissable fade in" role="alert">
      <button type="button" class="close" data-dismiss="alert"
              aria-label="Close"><span aria-hidden="true">&times;</span>
      </button>
      <strong>What's Up!</strong> Go ahead and play with the site
    </div>

    <div class="alert alert-success alert-dismissable fade in" role="alert">
      <button type="button" class="close" data-dismiss="alert"
              aria-label="Close"><span aria-hidden="true">&times;</span>
      </button>
      <strong>What Works?</strong> Nothing
    </div>

    <div class="alert alert-danger alert-dismissable fade in" role="alert">
      <button type="button" class="close" data-dismiss="alert"
              aria-label="Close"><span aria-hidden="true">&times;</span>
      </button>
      <strong>What Doesn't Work Yet?</strong> Everything
    </div>

    <h2>Filler Text</h2>

    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
      magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
      Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </p>

  </div>
</div>
