<footer id="footer" class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <a href="">
          <h3><span class="glyphicon glyphicon-home"></span> MovieDB</h3>
        </a>
      </div>
      <div class="col-md-3">
        <h4 class="text-primary">Browse</h4>
        <a href="">Browse Movies</a></br>
        <a href="">Browse Actors</a></br>
        <a href="">Browse Directors</a></br>
      </div>
      <div class="col-md-3">
        <h4 class="text-primary">Add</h4>
        <a href="">Add Movies</a></br>
        <a href="">Add Actors</a></br>
        <a href="">Add Directors</a></br>
        <a href="#">Add Actors to Movies</a></br>
        <a href="#">Add Directors to Movies</a></br>
      </div>
      <div class="col-md-3">
        <h4 class="text-primary">Reviews</h4>
        <a href="#">Browse Movie Reviews</a></br>
        <a href="#">Write a Movie Review</a></br>
      </div>
    </div>
  </div>
</footer>