<div class="container">

  <paginator></paginator>

  <section class="row">
    <div class="col-md-12">
      <div class="panel panel-dark text-left">

        <div class="panel-heading" browse-panel-heading title="{{panel_title}}" menuitems="panel_menu_items"></div>

        <div class="list-group" ui-view></div>

      </div>
    </div>
  </section>

  <paginator></paginator>

</div>