<div class="container">

  <div class="row">
    <div class="col-md-12">
      <paginator total-items="totalItems" items-per-page="itemsPerPage"></paginator>
    </div>
  </div>

  <section class="row">
    <div class="col-md-12">
      <div class="panel panel-dark text-left">

        <div class="panel-heading" browse-panel-heading title="{{panelTitle}}" menuitems="panelMenuItems"></div>

        <div class="list-group" ui-view></div>

      </div>
    </div>
  </section>

  <div class="row">
    <div class="col-md-12">
      <paginator total-items="totalItems" items-per-page="itemsPerPage"></paginator>
    </div>
  </div>

</div>