<div class="btn-group pull-right" dropdown>
  <h4>
    <button class="btn btn-ghost btn-panel btn-dark btn-circle btn-lg dropdown-toggle" dropdown-toggle>
      <span class="glyphicon glyphicon-option-vertical"></span>
    </button>
  </h4>
  <ul class="dropdown-menu" role="menu">
    <li role="menuitem" ng-repeat="item in menu_items"><a href="" >{{item.name}}</a></li>
  </ul>
</div>
<h2 class="text-info">
  {{title}}
</h2>