<div class="row">
  <div class="col-md-12">
    <section class="panel panel-dark text-left">

      <panel-header title="{{panelTitle}}" menu-items="menuItems"></panel-header>

      <div class="list-group">
        <li class="list-group-item text-center">
          <h4><em>No actors to display</em></h4>
        </li>
      </div>

    </section>
  </div>
</div>