<section class="container">
  <h1 class="">RailsMovieDB Homepage</h1>

  <alert ng-repeat="item in alerts" type="{{ item.type }}" close="closeAlert($index)">
    <strong>{{ item.title }}</strong> {{ item.msg }}
  </alert>

  <h2>Filler Text</h2>
  <lorem></lorem>

  <h2>Filler Text</h2>
  <lorem></lorem>

  <h2>Filler Text</h2>
  <lorem></lorem>
</section>