/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 */
@import "bootstrap-sprockets";
@import "bootstrap";

html, body {
  height: 100%;
  min-width: 600px;
  /* will appear as footer bg-color */
  background-color: #424242;
}

#master_container {
  min-height: 100%;
  height: auto;
  width: 100%;
  /* Negative indent footer by its height */
  margin: 0 auto -200px;
  /* Pad bottom by footer height */
  /*padding: 0 0 200px;*/

  /* push full bottom */
  position: relative;
}

#navbar {
  /*NONE*/
}

#main {
  /*text-align: center;*/
}

#footer {
  width: 100%;
  height: auto;
  padding-bottom: 40px;

  /* push full bottom */
  /*position: absolute;*/
  /*bottom: 0;*/
  /*left: 0;*/

  h4 {
    color: whitesmoke;
  }

  p, a {
    color: #A0A0A0;
  }
}

.errorlist {
  color: #cd5350
}

a.errorlist:hover {
  color: #843534
}

.warning-icon {
  color: goldenrod;
}

.warning-icon:hover {
  color: gold;
}

.bs-callout {
  padding: 20px;
  margin: 20px 0;
  border: 1px solid #eee;
  border-left-width: 5px;
  border-radius: 3px;

  h4 {
    margin-top: 0;
    margin-bottom: 5px;
  }

  p:last-child {
    margin-bottom: 0;
  }

  code {
    border-radius: 3px;
  }

  + .bs-callout {
    margin-top: -5px;
  }
}

.bs-callout-default {
  border-left-color: #777;
  h4 {
    color: #777;
  }
}

.bs-callout-primary {
  border-left-color: #428bca;
  h4 {
    color: #428bca;
  }
}

.bs-callout-success {
  border-left-color: #5cb85c;
  h4 {
    color: #5cb85c;
  }
}

.bs-callout-danger {
  border-left-color: #d9534f;
  h4 {
    color: #d9534f;
  }
}

.bs-callout-warning {
  border-left-color: #f0ad4e;
  h4 {
    color: #f0ad4e;
  }
}

.bs-callout-info {
  border-left-color: #5bc0de;
  h4 {
    color: #5bc0de;
  }
}

.table.no-border tr td, .table.no-border tr th {
  border-width: 0;
}

.table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
  background-color: white;
}

.table-striped > tbody > tr:nth-child(2n) > td, .table-striped > tbody > tr:nth-child(2n) > th {
  background-color: #F5F5F5;
}

.panel-dark {
  border-color: #B4B4B4;

  > .panel-heading {
    color: white;
    background-image: none;
    background-color: #232323;
    border-color: #232323;
  }
}

//.panel-dark > .panel-heading {
//  color: white;
//  background-image: none;
//  background-color: #232323;
//  border-color: #232323;
//}

.panel.has-error {
  border-color: #a94442;
}

// BUTTONS

.btn-ghost {
  background: transparent;
}

.btn-ghost.btn-bold {
  border-width: 2px;
  font-weight: bold;
}

.btn-ghost.btn-panel {
  color: ghostwhite;
}

.btn-ghost.btn-panel:hover {
  color: ghostwhite;
  background: #343434;
}

.btn-ghost.btn-panel:focus, .btn-ghost.btn-panel:active, .btn-ghost.btn-panel:active {
  background: #343434;
}

.btn-ghost.btn-default {
  color: #232323;
  border-color: #232323;
}

.btn-ghost.btn-default:hover {
  background: #404040;
  color: ghostwhite;
}

.btn-ghost.btn-white {
  color: ghostwhite;
  border-color: ghostwhite;
}

.btn-ghost.btn-white:hover {
  color: #404040;
  background: ghostwhite;
}

.btn-ghost.btn-primary {
  color: #337ab7;
  border-color: #337ab7;
}

.btn-ghost.btn-primary:hover {
  color: ghostwhite;
  background: #337ab7;
}

.btn-ghost.btn-info {
  color: #5bc0de;
  border-color: #5bc0de;
}

.btn-ghost.btn-info:hover {
  color: ghostwhite;
  background: #5bc0de;
}

.btn-ghost.btn-success {
  color: #5cb85c;
  border-color: #5cb85c;
}

.btn-ghost.btn-success:hover {
  color: ghostwhite;
  background: #5cb85c;
}

.btn-ghost.btn-warning {
  color: #f0ad4e;
  border-color: #f0ad4e;
}

.btn-ghost.btn-warning:hover {
  color: ghostwhite;
  background: #f0ad4e;
}

.btn-ghost.btn-danger {
  color: #d9534f;
  border-color: #d9534f;
}

.btn-ghost.btn-danger:hover {
  color: ghostwhite;
  background: #d9534f;
}

.btn-circle {
  width: 32px;
  height: 32px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 16px;
}

.btn-xl {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  font-size: 24px;
  line-height: 1.33;
}

/*.btn-lg {*/
/*padding:10px 16px;*/
/*font-size:18px;*/
/*line-height:1.3333333;*/
/*border-radius:6px*/
/*}*/

.btn-circle.btn-lg {
  width: 50px;
  height: 50px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 25px;
}

.btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  font-size: 24px;
  line-height: 1.33;
  border-radius: 35px;
}
