<!DOCTYPE html>
<html>
<head>
  <title>Rails MovieDB</title>
  <base href="/home">

  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>

<body ng-app="movieDbApp">
<div id="master-container">
  <navbar-partial></navbar-partial>

  <div id="main" class="jumbotron text-center">
    <%= yield %>
  </div>

  <footer-partial></footer-partial>
</div>
</body>
</html>
